@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>
<br />

<form asp-page="Login" method="post" class="form-inline">
    <input type="text" id="Name" name="Name" class="form-control" placeholder="Name" />
    <input style="margin-top: 5px" min="0" type="password" id="Password" name="Password" class="form-control" placeholder="Password" />
    <br />
    <div asp-validation-summary="All" style="color:red"></div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<br/>
<p>
    Test user name: 'Tom' Password: '123'   
    <br>
    This view is for login and also for registering new user. If original/unique name is provided, new user is created.
</p>